USE [master]
GO
/****** Nesnesi: Database [MerkezKargoDB] Betik Tarihi: 28.04.2026 11:47:33 ******/
CREATE DATABASE [MerkezKargoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MerkezKargoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MerkezKargoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MerkezKargoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MerkezKargoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MerkezKargoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MerkezKargoDB]
GO
/****** Nesnesi: Table [dbo].[__EFMigrationsHistory] Betik Tarihi: 28.04.2026 11:47:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Personeller] Betik Tarihi: 28.04.2026 11:47:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personeller](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](max) NOT NULL,
	[SifreHash] [nvarchar](max) NOT NULL,
	[Rol] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Personeller] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260427132656_IlkKurulum', N'8.0.4')
GO
SET IDENTITY_INSERT [dbo].[Personeller] ON 

INSERT [dbo].[Personeller] ([Id], [KullaniciAdi], [SifreHash], [Rol]) VALUES (7, N'adana_mudur', N'$2a$11$L4.ix7T4jFupTwhrTYfN6uUaAYJ1TsgZ5p.dP2rnvehiklC6D6jvS', N'Mudur')
INSERT [dbo].[Personeller] ([Id], [KullaniciAdi], [SifreHash], [Rol]) VALUES (8, N'istanbul_mudur', N'$2a$11$KAsXl/RP4VhPWug/WNFebegNRUUbNEG164kdf6kllNCgzufLOYnPm', N'Mudur')
INSERT [dbo].[Personeller] ([Id], [KullaniciAdi], [SifreHash], [Rol]) VALUES (9, N'hatay_mudur', N'$2a$11$ekmejekMvgPyuvcdHLgiYuBomki4tgdvkieYsNX3WzhSU8nDGzeRy', N'Mudur')
SET IDENTITY_INSERT [dbo].[Personeller] OFF
GO
USE [master]
GO
